@import '../../variables.css';

.button {
    padding: 8px 10px;
    font-size: calc(6px + 2vmin);
    background-color: var(--blue);
    color: var(--background);
    border: none;
    margin: 10px;
    border-radius: 1px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
  
.button:hover {
    opacity: 0.33;
}
  
.button.danger {
    background-color: var(--pink);
}

.button.default {
    background-color: var(--blue);
}